---
title: Contact
layout:  layouts/default.njk
---

<section>
    <form name="input" method="POST" action="https://formspree.io/f/xrgdkzoy">
      <label for="name">Name:</label>
      <input type="text" name="name" required>
      <label for="email">Email:</label>
      <input type="email" name="_replyto" required>
      <label for="phone">Phone:</label>
      <input type="tel" name="phone">
      <label for="message">Message:</label>
      <textarea name="message" required></textarea>
      <input class="button button__form" type="submit" value="Send">
      <input type="hidden" name="_next" value="thanks">
    </form>
</section>
