---
title: Web Design & Development | Kaleshe
description: I'm Kaleshe a freelance Web Designer & Developer with over 3 years of professional experience building and maintaining websites.
slug: index
heading: Digital Designer & Web Developer
layout:  layouts/default.njk
---

<section>
    <div class="projects grid">
       {% for project in collections.project %}
        <div class="project" data-aos="fade-up" data-aos-duration="800">
            <img src="{%if project.data.coverImage%}{{ project.data.coverImage }}{%else%}../assets/img/placeholder.svg{%endif%}" alt="">
            <a href="{{ project.url }}"><h2>{{ project.data.title }}</h2></a><span class="sub-title">{{project.data.skills}}</span>
       </div>
       {% endfor %}
    </div>
</section>

<section class="cta center">
   <p>Want to discuss an upcoming project?</p>
   <a href="/contact" class="button button__colour">Get in touch</a>
</section>
