---
layout: layouts/default.njk
eleventyNavigation:
  key: Blog
  order: 4
pagination:
  data: blogposts
  size: 12
permalink: blog{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
title: Blog
---

  {# loop through paginated item #}
  {% for item in pagination.items %}
    {% if loop.first %}<section class="articles">{% endif %}
      <article>
        <a href="/blog/{{ item.slug }}">
          <div class="image" style="background-image: url('/backend/public{{ item.cover }}')"></div>
          <div class="article-meta">
            <h2>{{ item.title }}</h2>
            <p>{{ item.date }}</p>
          </div>
        </a>
      </article>
    {% if loop.last %}</section>{% endif %}
  {% endfor %}

  {# pagination #}
  {% if pagination.hrefs | length > 0 %}
  <ul>
    {% if pagination.previousPageHref %}
      <li><a href="{{ pagination.previousPageHref }}">Previous page</a></li>
    {% endif %}
    {% if pagination.nextPageHref %}
      <li><a href="{{ pagination.nextPageHref }}">Next page</a></li>
    {% endif %}
  </ul>
  {% endif %}

<section class="cta center">
   <p>Want to discuss an upcoming project?</p>
   <a href="/contact" class="button button__colour">Get in touch</a>
</section>

